<h3>Add Providers</h3>
<ul class="unstyled">
<% OmniauthProviders.each do |name| %>
  <li>
    <%= image_tag provider_image(name) %>
    <%= link_to name.to_s.humanize, "/auth/#{name}" %>
  </li>
<% end %>
</u>
