<% AdminUser.all.each do |user| %>
<div class="row">
  <%= image_tag gravatar_image_url(user.email), :alt => ":)", :class => "span2" %>
  <div class="span7">
    <h3><%= user.name %></h3>
    <p><%= user.description %></p>
  </div>
</div>
<% end %>
