<% AdminUser.all.each do |user| %>
<div class="row">
  <%= image_tag user.avatar_url, :alt => "", :class => "span2" %>
  <div class="span7">
    <p><%= user.name %></p>
    <p><%= user.description %></p>
  </div>
</div>
<% end %>
