<%= render "application/sidebar" %>

<% if @search.present? %>
  <h4>Tags</h4>
  <% @search.facet(:tag_list).rows.each do |tag| %>
    <% if tag.value != params[:tag] %>
      <%= link_to "#{tag.value}(#{tag.count})", posts_path(:tag => tag.value) %>
    <% else %>
      <%= "#{tag.value}(#{tag.count})" %>
    <% end %>
  <% end %>

  <h4>Archive</h4>
  <ul>
  <% @search.facet(:archive).rows.sort{|a,b| a.value <=> b.value }.each do |archive| %>
    <li><%= link_to "#{archive.value}(#{archive.count})", posts_path(:archive => archive.value) %></li>
  <% end %>
  </ul>
<% end %>
