<% content_for(:page_header) do %>
  <h1>Home</h1>
<% end %>

<div class="posts">
  <% if @posts.present? %>
    <%= render @posts %>
  <% else %>
    <p>No records found.</p>
  <% end %>
</div>

<%= paginate @posts %>
