/*
 *= require bootstrap
 *= require_self
 *= require home
 *= require coderay
*/

body {
  padding-top: 60px;
} 

/* fix label inside the input tag. For check-box */
.input {
  label {
    width: auto;
    float: none;
    text-align: left;
  }
}
