@import 'bourbon';

body {
  background-color: #eee;
  div.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    @include border-bottom-radius(6px);
    @include box-shadow(0 1px 2px rgba(0,0,0,.15));
    .main, .sidebar {
      min-height: 500px;
    }
    .sidebar {
      margin-left: 10px;
      padding-left: 9px;
      border-left: 1px solid #eee;
    }
    .page-header {
      background: #f5f5f5 url("home.png") 10px 10px no-repeat;
      padding: 20px 20px 10px 70px;
      margin: -40px -20px 20px;
      .badges, .share-this {
        float: right;
      }
    }
  }
  .container > footer p {
    text-align: center;
  }
  .gsc-above-wrapper-area, .gsc-resultsHeader {
    display: none;
  }
  .page-header h1 {
    margin-bottom: 8px;
  }
}

/* fix label inside the input tag. For check-box */
.input {
  label {
    width: auto;
    float: none;
    text-align: left;
  }
}

.badges {
  img {
    width: 32px;
    height: 32px;
    border: 0px;
  }
}
