<!-- Github -->
<a href="https://github.com/siddick"><img src="https://github.com/intridea/authbuttons/raw/master/png/github_32.png"/></a>
<!-- Twitter -->
<a href="https://twitter.com/siddickInside"><img src="//si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_32_blue.png"/></a>
<!-- Facebook -->
<a href="http://www.facebook.com/siddick"><img src="https://github.com/intridea/authbuttons/raw/master/png/facebook_32.png"/></a>
<!-- Google Plus -->
<a href="https://plus.google.com/103719245554204460362?prsrc=3"><img src="https://github.com/intridea/authbuttons/raw/master/png/google_32.png"/></a>
