<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="social-icons pull-right">
        <%= render "badges" %>
      </div>
      <a href="/" class="brand" title="Siddick">Si</a>
      <ul class="nav pull-right" id="user_menus">
        <%= render 'user_menus' unless @page_caching %>
      </ul>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      <div class="pull-left hidden-phone">
      <%= form_tag search_path, :method => :get, :class => "navbar-search pull-left" do %>
        <%= text_field_tag "q", params[:q], :class => "search-query", :id => "search-q", :placeholder => "Search" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
