<div class="fill">
  <div class="container">
    <a href="/" class="brand">Project name</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <%= form_tag "/" do %>
      <input type="text" placeholder="Search">
    <% end %>
    <ul class="nav secondary-nav">
      <% if current_user.present? %>
      <li class="dropdown">
        <%= link_to current_user.name, "#" %>
      </li>
      <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
