<% if user_signed_in? %>
  <% if current_user.admin? %>
  <li><%= link_to "Dashboard", admin_dashboard_path %></li>
  <% end %>
  <li class="dropdown" data-dropdown="dropdown">
    <a href="#" class="dropdown-toggle"><%= current_user.name %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Profile", profile_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path %></li>
    </ul>
  </li>
<% end %>
